html{
    background-color: #F39494;
}
.Block{
    background-color: white;
}
h1{
    font-size: 36px;
}
p{
    font-size: 18px;
color: #666;
}
#Giper{
    color: #089FE0;
    font-size: 18px;
}
#Giper2{
color: #089FE0;
font-size: 14px;
}
#heroButton{
    background-color: #089FE0;
    font-size: 18px;
    color: white;
}
#checkbox{
    font-size: 14px;
    color: #666;
}
#username{
    background-color: white;
}
#name{
    color: #999;
    font-size: 14px;
}
#surname{
    color: #999;
    font-size: 14px;
}
#email{
    color: #999;
    font-size: 16px;
}