html{
    background: linear-gradient(180deg, rgba(55, 65, 81, 1), rgba(17, 24, 39, 1));
}
body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.p11{
    opacity: 60%;
    color: white;
    text-align: center;
    margin-right: 367px;
}
ul{
    list-style: none;
}
h1{
    color: white;
    text-align: center;
}
.Worker1{
    color: white;
    text-align: center;
    margin-bottom: 28px;
}
.worker{
    opacity: 60%;
    color: white;
}
.inputHero{
    background-color: rgba(31, 41, 55, 0.6);
    opacity: 60%;
    color: white;;
    border-radius: 100px;
    width: 224px;
    height: 40px;
    margin: 71px 180px 69px 700px;
}
.p21{
    font-size: 20px;
    color: white;
}
.p23{
    font-size: 16px;
    color: white;
}
section{
    margin: 0 0 103px 160px;
}
.hero{
    background-color: rgba(75, 85, 99, 1);
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 23px;
}
.hero1{
    font-size: 21px;
}
nav{
    margin-top: 77px;
}
.hero2{
    font-size: 19px;
    margin-right: 500px;
}
img{
    width: 896px;
    height: 594px;
    margin: 0 0 69PX 525px;
}
footer{
    opacity: 60%;
    color: white;
    text-align: center;
    margin-bottom: 77px;
}
.main1{
    margin-top: 80px;
}
p{
    margin: 0 0 0 367px;
}
#div2{
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;
}
#div3{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;
}